:root {
    --clr-accent-100: hsl(150, 100%, 63%);

    --clr-primary-400-transparent: hsl(271, 12%, 34%, .05);
    --clr-primary-400: hsl(271, 12%, 34%);
    --clr-primary-500: hsl(273, 85%, 13%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(276, 100%, 99%);

    --ff-primary: "Manrope", sans-serif;
    --ff-secondary: "Fraunces", serif;

    --fs-100: 0.5rem;
    --fs-200: 2rem;
    --fs-300: 3.5rem;
    --fs-400: 5rem;

    --fw-bold: 600;
    --fw-regular: fj;
}

/* Reset */

*,
*::before,
*::after {
    box-sizing:border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
  text-wrap: balance;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
    font-family: var(--ff-primary);
}

/* Utility Classes */
.text-blue {
    color: var(--clr-primary-500);
}

.text-white {
  color: var(--clr-neutral-100);
}

.font-sec {
   font-family: var(--ff-secondary);
}

.p-underline {
    text-decoration: underline var(--clr-accent-100) solid 3px;
    text-underline-offset: 0.5rem;
}

.btn {
  background-color: var(--clr-accent-100);
  border-style: none;
  padding: 0.8rem 1rem;
  font-weight: var(--fw-bold);
}

.flow-content > * + * {
  margin-top: var(--spacer, 1rem);
}

/*typography/general styling */

.hero {
    background-color: var(--clr-primary-500);
    padding: 2rem 1rem 6rem 1rem;
    position: relative;
}

@media(min-width:40rem) {
  .hero {
    padding-bottom: 15rem;
    background-image: url(../images/bg-pattern-1.svg), url(../images/bg-pattern-2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left;
    background-position: -10rem 5rem, 78rem 20rem;
  }
}
 
.hero-wave {
    position: absolute;
    top: 22rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.hero-wave svg {
    position: relative;
    display: block;
    width: calc(271% + 1.3px);
    height: 73px;
    z-index: -1;
}

.hero-wave .shape-fill {
    fill: var(--clr-primary-500);
}

@media(min-width:40rem) {
  .hero-wave {
    position: absolute;
    top: 37rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.hero-wave svg {
    position: relative;
    display: block;
    width: calc(271% + 1.3px);
    height: 112px;
    z-index: -1;
}

.hero-wave .shape-fill {
    fill: var(--clr-primary-500);
}
}
.nav p {
  color: var(--clr-neutral-200);
}

.nav img {
  max-width: 30%;
}

.founder-profile {
  background-color: var(--clr-primary-500);
}

/* layout */


.nav {
  display: flex;
  justify-content: space-between;
}

@media(min-width:40rem) {
  .nav {
     justify-content: space-around;
     gap: 35rem;
  }
}

.data {
  text-align: center;
  --spacer:2.5rem
}

.data h1 {
  font-size: 3rem
   margin: 0 auto;
  margin-top: 3rem;
}

@media(min-width:40rem) {
  .data h1 {
    font-size: 4rem;
  }
}

.data h1 span {
  text-underline-offset: 0.3rem;
  line-height: 1.5;
}

.overlay-container {
  position: relative;
}

.overlay-img {
  position: absolute;
  top: 21rem;
  z-index: 10;
  max-width: 90%;
  left: 5%;
}

@media(min-width: 40rem) {
  .overlay-img {
    margin-top: 6rem;
    max-width: 45%;
    left: 25rem;
  }
}

.features{
  padding: 10rem 1rem 1.5rem 1rem;
  background-color: var(--clr-primary-400-transparent);
  --spacer: 2rem;
  text-align: center; 
  position: relative;
}

@media(min-width:40rem) {
  .features {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-grow: 1;
    padding-bottom: 8rem;
  }

  .feature {
    max-width: 20rem;
  }

  .feature:nth-child(2) {
    margin-top: 0;
  }

  .feature:nth-child(3) {
    margin-top: 0;
  }
}

.features-wave {
    position: absolute;
    bottom: -4.55rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.features-wave svg {
    position: relative;
    display: block;
    width: calc(271% + 1.3px);
    height: 73px;
    z-index: -10;
}

.features-wave .shape-fill {
    fill: var(--clr-primary-400-transparent);
}

@media(min-width:40rem) {
   .features-wave {
    position: absolute;
    bottom: -7rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.features-wave svg {
    position: relative;
    display: block;
    width: calc(271% + 1.3px);
    height: 112px;
    z-index: -10;
}

.features-wave .shape-fill {
    fill: var(--clr-primary-400-transparent)
}

}

.feature h3 {
  border: solid 1px var(--clr-primary-400);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.feature p {
  color: var(--clr-primary-400);
  margin-top: 1.5rem;
}

.founder {
  padding: 20rem 1rem 1rem 1rem;
  position: relative;
}

.founder img {
  max-width: 80%;
  position: absolute;
  z-index: -1;
  top: 7rem;
  left: 2rem;
}


.founder-profile {
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  text-align: center;
  color: var(--clr-neutral-200);
  position: relative;
}

.founder-profile p {
  line-height: 1.7;
  font-weight: 300;
  --spacer: 1.5rem;
}

@media(min-width:40rem) {
  .founder {
    margin-top: 3rem;
    left: 12rem;
  }  

  .founder img {
    max-width: 30%;
  }

  .founder-profile {
    max-width: 35rem;
    text-align: left;
    left: 20rem;
    --spacer:2rem;
  }
  
}


.footer {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.footer-logo > img {
  width: 80%;
}

.contact {
  display: flex;
  gap: 1.5rem;
}

.contact img {
  width: 80%;
}




